:root {
  --cor-backgroud: #070707;
  --cor-background-secundaria: #282828;
  --cor-background-sider: #121212;
  --cor-text-span: #949494;
  --cor-text-span-active: #f5f5f5;
  --cor-titulo: #fff;
  --cor-text: #e7e7e7;
}
.cor-2 {
  color: #949494;
}
.cor-1 {
  color: #fff;
}
.cor-z {
  color: #070707;
}
