* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  border: none;
}
body {
  background: var(--cor-backgroud);
}
img[src$=".jpeg"] {
  display: block;
  max-width: 100%;
  border-radius: 8px;
}
