.biblioteca {
  background: var(--cor-background-sider);
  border-radius: 8px;
  margin: 20px 0;
  padding: 16px;
}
.biblioteca-content {
  display: flex;
  justify-content: space-between;
}
.biblioteca-content button {
  display: flex;
  align-items: center;
}

.biblioteca-button img {
  margin-right: 8px;
}
.biblioteca-button {
  background: var(--cor-background-sider);
}
.section-playlist {
  background: var(--cor-background-secundaria);
  border-radius: 8px;
}
.section-playlist-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  padding: 16px 20px;
  margin: 8px 0;
}

.section-playlist-button {
  border-radius: 15px;
  display: flex;
  padding: 10px 16px;
  margin: 10px 0;
}
.cookies {
  margin: 25px 20px;
}
.languages {
  margin: 20px 0;
}
.languages button {
  display: flex;
  align-items: center;
  background: var(--cor-background-sider);
  border: 1px solid #878787;
  border-radius: 15px;
  margin: 8px;
}
.languages span {
  display: inline-block;
  padding: 8px 10px;
  cursor: pointer;
  align-items: center;
}
