.font-1pb {
  font: 600 0.875rem/1.3 "DM Sans", sans-serif;
}
.font-1pn {
  font: 300 0.75rem/1.2 "DM Sans", sans-serif;
}
.font-1mb {
  font: 600 1.125rem/1.3 "DM Sans", Sans-serif;
}
.font-1mb-2 {
  font: 700 1rem/1.3 "DM Sans", Sans-serif;
}
.font-1gb {
  font: 700 1.5rem/1.5 "DM Sans", Sans-serif;
}
.font-1ggb {
  font: 700 2rem/1.5 "DM Sans", Sans-serif;
}
